/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  padding: 20px;
  margin-bottom: 20px;

}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  background-color: #666;
  float: left;
  width: 33.3% ;
  padding: 20px;
  color: white;
}

#middle {
  background-color: #888;
  width: 33.3% ;
  float: left;
  padding: 20px;
  color: white;
}

#right {
  background-color: #666;
  width: 33.3% ;
  float: left;
  padding: 20px;
  color: white;
}

#full {
  background-color: #eee;
  width: 100% ;
  margin-top: px;
  overflow: auto;
  color: black;
}

#division {
  background-color:#6ea3da;
  width: 100%;
  margin-top: 40px;
  height: 80px;
  padding: 30px;  
  

}

aside {
  background-color:white;
  width: 33.3%;
  height: 200px;
  margin:30px;
  padding: 20px;
  float: left;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}
